@model Gereasy.Models.Tarefas

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>De certeza que deseja apagar?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDedicadoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDedicadoTimeSpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projeto.Nome)
        </dd class>
    </dl>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Índice</a>
    </form>
</div>
