@model Gereasy.Models.TarefasColaboradores

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>De certeza que deseja apagar?</h3>
<div>
    <h4>Registo de Atividade</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDedicado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoDedicadoTimeSpan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Colaboradores" asp-route-id="@Model.Colaborador.Id">@Html.DisplayFor(modelItem => Model.Colaborador.Nome)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd class="col-sm-10">
            <a asp-action="Details" asp-controller="Tarefas" asp-route-id="@Model.Tarefa.Id">@Html.DisplayFor(modelItem => Model.Tarefa.Titulo)</a>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Índices</a>
    </form>
</div>
