@model Gereasy.Models.TarefasColaboradores

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>De certeza que deseja apagar?</h3>
<div>
    <h4>TarefasColaboradores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDedicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDedicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Cargo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarefa.Prioridade)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar Atrás</a>
    </form>
</div>
