@model Gereasy.Models.TarefasColaboradores

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>TarefasColaboradores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoDedicado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoDedicado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colaborador.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarefa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarefa.Prioridade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar Atrás</a>
</div>
