@model IEnumerable<Gereasy.Models.TarefasColaboradores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoDedicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarefa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoDedicado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarefa.Prioridade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
