@model IEnumerable<Gereasy.Models.TarefasColaboradores>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Tarefa.Projeto.Nome)*@
                Projeto
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Tarefa.Titulo)*@
                Tarefa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoDedicado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Projetos" asp-route-id="@item.Tarefa.Projeto.Id">@Html.DisplayFor(modelItem => item.Tarefa.Projeto.Nome)</a>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Tarefas" asp-route-id="@item.Tarefa.Id">@Html.DisplayFor(modelItem => item.Tarefa.Titulo)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoDedicadoTimeSpan)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Colaboradores" asp-route-id="@item.Colaborador.Id">@Html.DisplayFor(modelItem => item.Colaborador.Nome)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
